@charset "UTF-8";
/*
 *  ______     _             _______          _ _    _ _
 * |  ____|   | |           |__   __|        | | |  (_) |
 * | |__   ___| |__   ___      | | ___   ___ | | | ___| |_
 * |  __| / __| '_ \ / _ \     | |/ _ \ / _ \| | |/ / | __|
 * | |___| (__| | | | (_) |    | | (_) | (_) | |   <| | |_
 * |______\___|_| |_|\___/     |_|\___/ \___/|_|_|\_\_|\__|  v 1.0
 *
 *                                  Echo Team Frontend Toolkit
 *                                  By: Adrian Bece
 *
 *                                      adrian.bece@inchoo.net
 *                                      @AdrianBDesigns
 */
/*------------------------------------------------------------*\
                      HELPERS INCLUDES
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                         BASIC CONFIG
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                HTML5 RESET FOR OLDER BROWSERS
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                  ELEMENT-SPECIFIC RESETS
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                   TYPOGRAPHY BASIC SETTINGS
\*------------------------------------------------------------*/
/*
 * https://github.com/modularscale/modularscale-sass
 *
 * MODULAR-SCALE SETTINGS
 *
 * To se ems change $ms-base: 1rem; to $ms-base: 1em;
 * To use pixels change $ms-base: 1rem; to $ms-base: $base-font-size;
 */
/*
 * SCALES REFERENCE
 *
 * $minor-second:     1.067;
 * $major-second:     1.125;
 * $minor-third:      1.2;
 * $major-third:      1.25;
 * $perfect-fourth:   1.333;
 * $augmented-fourth: 1.414;
 * $perfect-fifth:    1.5;
 * $minor-sixth:      1.6;
 * $golden:           1.618;
 * $major-sixth:      1.667;
 * $minor-seventh:    1.778;
 * $major-seventh:    1.875;
 * $octave:           2;
 * $major-tenth:      2.5;
 * $major-eleventh:   2.667;
 * $major-twelfth:    3;
 * $double-octave:    4;
 */
/*
 *   Notes on rem support to keep in mind
 *   ------------------------------------
 * - IE 9 & IE 10 do not support rem units when used in the font shorthand property (the entire declaration is ignored)
 *   or when used on pseudo elements.
 * - Borders sized in "rem" disappear when the page is zoomed out in Chrome.
 * - IE 9, 10 and 11 do not support rem units when used in the "line-height" property when used on :before and :after
 *   pseudo elements
 */
/*------------------------------------------------------------*\
                          BREAKPOINTS
\*------------------------------------------------------------*/
/*
 * Add Breakpoints to the list
 * Include breakpoints as:
 * @include bp-min(desktop-small); // min width
 * @include bp-min-max(desktop-small $desktop-large); // min width and max-width
 */
/*
 * Enable px to em conversion for breakpoints
 */
/*
 * Enable CSS-To-JS connection
 * If enabled, remember to include js/EchoToolkitEngine/breakpointParser.js in your project
 * If disabled, remember to remove it or exclude it from your project
 */
/*
 * Enable CSS-To-JS connection
 * Which version of breakpointParser should be used
 * 1 - simple parser - stores current breakpoint
 * 2 - expanded parser - stores current breakpoint but splits it into array with length of 2
 * 3 - value parser - stores current breakpoint in numerical format (converts it to px if em is used)
 */
/*------------------------------------------------------------*\
                    UNIT CONVERT FUNCTIONS
\*------------------------------------------------------------*/
/*
 * Convert px value to rem value based on the default font size
 */
/*
 * Convert px value to em value based on the root font size
 */
/*
 * Remove the unit of a length
 * @param {Number} $number - Number to remove unit from
 * @return {Number} - Unitless number
 */
/*------------------------------------------------------------*\
                       GENERAL MIXINS
\*------------------------------------------------------------*/
/*
 * Mixin to drop micro clearfix into a selector. Further reading:
 * http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 */
/*------------------------------------------------------------*\
                   POSITION MIXINS
\*------------------------------------------------------------*/
/*
 * Generic position mixin for better CSS markup
 * Used by other mixins
 */
/*
 * Shorthand mixin for absolute positioning
 * Serves as an alias for `position(absolute, ...)`
 * @param {Arglist} $args - Offsets
 * @require {mixin} position
 */
/*
 * Shorthand mixin for fixed positioning
 * Serves as an alias for `position(fixed, ...)`
 * @param {Arglist} $args - Offsets
 * @require {mixin} position
 */
/*------------------------------------------------------------*\
                     VENDOR PREFIX MIXIN
\*------------------------------------------------------------*/
/*
 * Use http://caniuse.com/ and http://shouldiprefix.com/ to determine which
 * prefixes should be used in the mixins to avoid code bloat.
 * @author Hugo Giraudel
 * Sample use: @include prefix(property, value, prefix1 prefix2 prefix3);
 * Sample use: @include prefix(transform, rotate(45deg), webkit ms);
 * Use this mixin to build your own vendor prefixes mixin
 */
/*------------------------------------------------------------*\
                      SUSY CONFIG AND MAPS
\*------------------------------------------------------------*/
/*
 * Default Susy config with default values
 * Use this as a template for adding more maps and configurations.
 * It can be edited or removed if defaults won't be changed.
 *
 * More info: http://susydocs.oddbird.net/en/latest/settings/
 */
/*------------------------------------------------------------*\
                      CUSTOM SUSY MAPS
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                      VENDOR INCLUDES
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
            GENERATE CSS-TO-JS PSEUDO-CLASS HINTS
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                       MIN-WIDTH BREAKPOINT
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                 MIN-WIDTH AND MAX-WIDTH BREAKPOINT
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
           MIN-WIDTH BREAKPOINT WITH SUSY GRID
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                       BASE INCLUDES
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                               RESET
\*------------------------------------------------------------*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, address, em, img, small, strong, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h2 {
  font-family: "Audiowide", cursive;
  font-size: 1.95313rem;
  line-height: 1.95313rem;
  padding-top: 1.95313rem;
  padding-bottom: 1.5625rem; }
  @media (min-width: 30em) {
    h2 {
      font-size: 3.05176rem;
      line-height: 3.05176rem;
      padding-top: 3.05176rem;
      padding-bottom: 2.44141rem; } }

h3 {
  font-family: "Audiowide", cursive;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem; }
  @media (min-width: 30em) {
    h3 {
      font-size: 1.95313rem;
      line-height: 1.95313rem;
      padding-top: 1.5625rem;
      padding-bottom: 1.25rem; } }

p {
  padding-bottom: 1rem; }
  @media (min-width: 0em) and (max-width: 29.9375em) {
    p {
      font-size: 0.8rem;
      line-height: 1.25rem;
      padding-bottom: 0.8rem; } }

b {
  font-weight: bold; }

small {
  display: block;
  font-size: 0.8rem;
  line-height: 1.5625rem; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

/*------------------------------------------------------------*\
                       THEME FILES
\*------------------------------------------------------------*/
/*
 * Allow only vertical resizing of textarea element
 */
textarea {
  resize: vertical; }

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 * 4. Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images
 */
img {
  width: 100%;
  /* [1] */
  max-width: 100%;
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
  -ms-interpolation-mode: bicubic;
  /* [4] */
  height: auto; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 */
audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle; }

/*
 * Automatically scales images larger than the container.
 * Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/
 */
svg {
  width: 100%; }

object, video {
  max-width: 100%; }

/*------------------------------------------------------------*\
                       GENERAL PAGE SETUP
\*------------------------------------------------------------*/
html,
body {
  width: 100%;
  height: 100%; }

/**
 *
 * 1. Set the default typography rules sourced from our default variables.
 * 2. Force scrollbars to always be visible to prevent awkward ÔÇśjumpsÔÇÖ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Optimize font rendering
 */
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* [1] */
  font-size: 20px;
  /* [1] */
  overflow-y: scroll;
  /* [2] */
  -webkit-font-smoothing: antialiased;
  /* [3] */
  -moz-osx-font-smoothing: grayscale;
  /* [3] */
  -ms-text-size-adjust: none;
  /* [3] */
  -webkit-text-size-adjust: none;
  /* [3] */ }

body {
  line-height: 1.5;
  /* [1] */
  background-color: #f3f3f3;
  color: #0f1628; }

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
*, *:before, *:after {
  box-sizing: inherit; }

.container {
  max-width: 64rem;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  @media (min-width: 30em) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem; } }

.container-alt {
  background-image: url("../images/bg.png");
  padding-bottom: 2.44141rem; }

.fluid-container {
  max-width: 100%; }

.flexbox .flex-container {
  display: flex; }

.no-flexbox .flex-container {
  display: table; }

.narrow-container {
  max-width: 48rem;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  @media (min-width: 30em) {
    .narrow-container {
      padding-left: 1rem;
      padding-right: 1rem; } }

.js .reduced:not(.active) li:nth-child(n+5) {
  display: none; }

.no-js .button-container {
  display: none; }

.hidden {
  display: none; }

/**
 * 1. Ensure tables fill up as much space as possible.
 */
table {
  width: 100%;
  /* [1] */
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background-color: #0f1628;
  color: #f3f3f3;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2; }
  @media (min-width: 0em) and (max-width: 29.9375em) {
    header > .container {
      padding: 0; } }
  @media (min-width: 48em) {
    header {
      top: 0; } }
  header .title {
    font-size: 1.5625rem;
    font-family: "Audiowide", cursive;
    display: none; }
    @media (min-width: 30em) {
      header .title {
        display: block; } }
    .no-flexbox header .title {
      width: 20%;
      display: table-cell; }
      @media (min-width: 42.5em) {
        .no-flexbox header .title {
          width: 10%; } }
      @media (min-width: 48em) {
        .no-flexbox header .title {
          width: 20%; } }
    .flexbox header .title {
      flex: 1 20%; }
      @media (min-width: 42.5em) {
        .flexbox header .title {
          flex: 1 10%; } }
      @media (min-width: 48em) {
        .flexbox header .title {
          flex: 1 25%; } }
    header .title .title-text {
      display: none; }
      @media (min-width: 48em) {
        header .title .title-text {
          display: inline-block; } }
    header .title a {
      display: block;
      padding: 0.512rem;
      text-decoration: none;
      color: #f3f3f3; }
      @media (min-width: 0em) and (max-width: 47.9375em) {
        header .title a {
          background-image: url("../images/codeAdrian_logo.svg");
          background-repeat: no-repeat;
          background-size: contain;
          height: 2rem;
          margin-top: 0.8rem; } }
  @media (min-width: 0em) and (max-width: 47.9375em) and (min-width: 0em) and (max-width: 29.9375em) {
    header .title a {
      height: 1.25rem;
      margin-top: 0.4096rem; } }
  @media (min-width: 0em) and (max-width: 47.9375em) and (min-width: 30em) and (max-width: 59.9375em) {
    header .title a {
      height: 1.5rem;
      margin-top: 0.512rem; } }

  header nav {
    text-transform: uppercase; }
    .no-flexbox header nav {
      width: 80%;
      display: table-cell;
      text-align: right; }
      @media (min-width: 42.5em) {
        .no-flexbox header nav {
          width: 90%; } }
      @media (min-width: 48em) {
        .no-flexbox header nav {
          width: 80%; } }
    .flexbox header nav {
      flex: 4 80%; }
      @media (min-width: 42.5em) {
        .flexbox header nav {
          flex: 9 90%; } }
      @media (min-width: 48em) {
        .flexbox header nav {
          flex: 3 75%; } }
  .flexbox header ul {
    justify-content: space-around; }
    @media (min-width: 30em) {
      .flexbox header ul {
        justify-content: flex-end; } }
  .no-flexbox header ul {
    display: block;
    width: 100%; }
    .no-flexbox header ul li {
      display: inline-block; }
  header .link-container {
    font-weight: lighter;
    letter-spacing: 0.05em; }
    header .link-container a {
      display: block;
      padding: 1em 0.5em;
      text-decoration: none;
      color: #f3f3f3;
      -moz-box-shadow: inset 0 0 0 0 #ab987a;
      -webkit-box-shadow: inset 0 0 0 0 #ab987a;
      box-shadow: inset 0 0 0 0 #ab987a;
      transition: box-shadow 0.3s ease; }
      @media (min-width: 0em) and (max-width: 33.6875em) {
        header .link-container a {
          text-transform: uppercase; }
          header .link-container a span {
            display: none; } }
      @media (min-width: 0em) and (max-width: 29.9375em) {
        header .link-container a {
          padding: 1em 0.5em; } }
      @media (min-width: 0em) and (max-width: 47.9375em) {
        header .link-container a {
          padding: 1.25em 0.75em;
          font-size: 0.64rem; } }
      @media (min-width: 48em) and (max-width: 63.9375em) {
        header .link-container a {
          padding: 1.5em 0.75em;
          font-size: 0.8rem; } }
      @media (min-width: 80em) {
        header .link-container a {
          padding: 1em; } }
      header .link-container a:hover {
        -moz-box-shadow: inset 0 -0.3em 0 0 #ab987a;
        -webkit-box-shadow: inset 0 -0.3em 0 0 #ab987a;
        box-shadow: inset 0 -0.3em 0 0 #ab987a; }
      header .link-container a.active {
        -moz-box-shadow: inset 0 -5em 0 0 #ab987a;
        -webkit-box-shadow: inset 0 -5em 0 0 #ab987a;
        box-shadow: inset 0 -5em 0 0 #ab987a; }
    header .link-container:last-child {
      text-transform: capitalize;
      letter-spacing: 0; }
      header .link-container:last-child a {
        -moz-box-shadow: inset 0 0 0 0 #ff533d;
        -webkit-box-shadow: inset 0 0 0 0 #ff533d;
        box-shadow: inset 0 0 0 0 #ff533d; }
        header .link-container:last-child a:hover {
          -moz-box-shadow: inset 0 -0.3em 0 0 #ff533d;
          -webkit-box-shadow: inset 0 -0.3em 0 0 #ff533d;
          box-shadow: inset 0 -0.3em 0 0 #ff533d; }

footer {
  background-color: #0f1628;
  color: #f3f3f3;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem; }
  footer a {
    color: #f3f3f3;
    text-decoration: none; }
    footer a:hover {
      color: #ab987a; }
  footer .social-links {
    padding-bottom: 1rem;
    font-size: 0.8rem; }
    footer .social-links li {
      display: inline-block;
      vertical-align: middle; }
      footer .social-links li:not(:last-child):after {
        content: "|";
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.25em; }
    footer .social-links a {
      display: inline-block;
      vertical-align: middle; }
  footer small a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.05em; }
    footer small a:visited {
      color: #f3f3f3; }
    footer small a:hover, footer small a:active {
      border-bottom: 0.1em solid #ab987a;
      color: #ab987a; }
  footer .footer-text {
    padding-bottom: 0.32768rem; }
  footer svg {
    max-width: 6.4em;
    padding-bottom: 1rem; }

button,
.button {
  outline: 0;
  border: 0;
  text-decoration: none;
  background: #ff533d;
  color: #f3f3f3;
  padding: 1em 2em;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 20em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem; }
  button:hover,
  .button:hover {
    background: #ff3c24; }
  button:active,
  .button:active {
    background: #ff6a57; }

.cd-container::after {
  content: '';
  display: table;
  clear: both; }

.cd-container {
  position: relative;
  padding-bottom: 2.44141rem; }

.cd-container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 90%;
  width: 0.2em;
  background: #0f1628; }

.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 0 0 0.3em #f3f3f3;
  background: #0f1628; }

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em 1em 0;
  box-shadow: .1em .1em 0 .05em #d7e4ed; }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white; }

/*------------------------------------------------------------*\
                      LAYOUT INCLUDES
\*------------------------------------------------------------*/
/*------------------------------------------------------------*\
                       PAGE INCLUDES
\*------------------------------------------------------------*/
.container-skills {
  padding-bottom: 1rem; }
  .container-skills li {
    padding: 0.5em; }
    @media (min-width: 64em) {
      .container-skills li {
        padding: 1em; } }
  .flexbox .container-skills .flex-container {
    justify-content: space-between; }
  .no-flexbox .flexbox .container-skills .flex-container {
    width: 100%; }
  .no-flexbox .container-skills .flex-container li {
    display: table-cell; }
  .container-skills svg {
    max-width: 5em; }

.container-hero section {
  background-image: url("../images/bg.png");
  padding-top: 2.44141rem;
  padding-bottom: 1.95313rem;
  padding-left: 1em;
  padding-right: 1em; }
  @media (min-width: 64em) {
    .container-hero section {
      padding-top: 4.76837rem;
      padding-bottom: 4.76837rem;
      background-image: url("../images/hero-image.png");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: right;
      background-size: cover; } }
  @media (min-width: 80em) {
    .container-hero section {
      padding-top: 7.45058rem;
      padding-bottom: 7.45058rem;
      max-height: 100vh; } }
  @media (min-width: 100em) {
    .container-hero section {
      min-height: 100vh; } }

.hero-text {
  text-align: center; }
  @media (min-width: 64em) {
    .hero-text {
      width: 50.41667%;
      text-align: right; } }
  .hero-text ul {
    line-height: 1.95313rem;
    padding-bottom: 1.95313rem;
    font-weight: bold; }
    @media (min-width: 64em) {
      .hero-text ul {
        font-size: 1.25rem; } }
    @media (min-width: 100em) {
      .hero-text ul {
        font-size: 1.95313rem;
        line-height: 3.05176rem; } }

.hero-title {
  text-transform: uppercase; }
  @media (min-width: 100em) {
    .hero-title {
      font-size: 4.76837rem;
      line-height: 4.76837rem; } }

.container-projects img {
  max-height: 19.3em; }
  @media (min-width: 48em) {
    .container-projects img {
      max-height: 16.15em; } }
.container-projects ul {
  max-width: 64rem;
  margin: 0 auto; }
  .container-projects ul:after {
    content: "";
    display: block;
    clear: both; }
.container-projects li {
  color: #f3f3f3;
  position: relative;
  margin-bottom: 3.8147rem;
  min-height: 47.98387%; }
  .container-projects li:hover:after {
    background-color: #1a2646; }
  .container-projects li:active:after {
    background-color: #243560; }
  @media (min-width: 48em) {
    .container-projects li {
      width: 48%;
      float: left;
      margin-right: 4%; }
      .container-projects li:nth-child(even) {
        margin-right: 0; } }
  .container-projects li a {
    text-decoration: none;
    color: #f3f3f3;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 1em; }
    .container-projects li a:hover .main-text {
      display: none; }
    .container-projects li a:hover .description {
      display: block; }
  .container-projects li .main-text,
  .container-projects li .description {
    min-height: 6.1em; }
  .container-projects li:after {
    content: "";
    background-color: #0f1628;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35%;
    z-index: 0;
    transition: background-color 0.3s ease; }
  .container-projects li .description {
    display: none;
    padding-top: 1.25rem;
    margin: 0 auto;
    max-width: 21em; }
.container-projects .project-title {
  padding-top: 1rem;
  padding-bottom: 0.64rem;
  font-size: 1.5625rem;
  line-height: 1.95313rem; }

.container-timeline {
  padding-bottom: 2.44141rem; }

/*# sourceMappingURL=main.css.map */
