:root {
    --color__cta--lighter: #f9efe8;
    --color__cta: #aa5512;
    --color__cta--darker: #9a4d10;

    --color__primary: #151515;
    --color__secondary: #ffffff;
    --color__accent: #ebdcd3;
    --color__accent--lighter: #f5ede8;

    --color__grayscale--light: #ddd;
    --color__grayscale--medium: #707070;
    --color__grayscale--darker: #505050;

    --color__highlight: #f5f5f5;
}
