/*
 *  ______     _             _______          _ _    _ _
 * |  ____|   | |           |__   __|        | | |  (_) |
 * | |__   ___| |__   ___      | | ___   ___ | | | ___| |_
 * |  __| / __| '_ \ / _ \     | |/ _ \ / _ \| | |/ / | __|
 * | |___| (__| | | | (_) |    | | (_) | (_) | |   <| | |_
 * |______\___|_| |_|\___/     |_|\___/ \___/|_|_|\_\_|\__|  v 3.0
 *
 *                                  Echo Team Frontend Toolkit
 *                                  By: Adrian Bece
 *
 *                                      adrian.bece@inchoo.net
 *                                      @AdrianBDesigns
 */

/*------------------------------------------------------------*\
                     RESET / NORMALIZE
\*------------------------------------------------------------*/

@import "base/normalize";

/*------------------------------------------------------------*\
                      VENDOR INCLUDES
\*------------------------------------------------------------*/
@import '../node_modules/libsass-compass-vertical-rhythm/lib/compass_rhythm';

/*------------------------------------------------------------*\
                      HELPERS INCLUDES
\*------------------------------------------------------------*/

@import "helpers/typography-config";
@import "helpers/breakpoints-config";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/colors";

/*------------------------------------------------------------*\
                       THEME FILES
\*------------------------------------------------------------*/
@import "components/typography";
@import "components/media";
@import "components/page";
@import "components/list";
@import "components/containers";

/*------------------------------------------------------------*\
                      LAYOUT INCLUDES
\*------------------------------------------------------------*/
@import "layout/header";

/*------------------------------------------------------------*\
                       PAGE INCLUDES
\*------------------------------------------------------------*/
@import "pages/main";