.container-projects {
    ul {
        @include clearfix();
        max-width: px-to-rem(map_get($breakpoints, desktop-medium));
        margin: 0 auto;
    }

    li {
        color: $color-variation;
        position: relative;
        @include ms-respond(margin-bottom, 6);
        min-height: (595px/1240px)*100%;
        &:hover {
            &:after {
                background-color: lighten($background-variation, 8%);
            }
        }

        &:active {
            &:after {
                background-color: lighten($background-variation, 15%);
            }
        }


        @include breakpoint-min(tablet-portrait){
            width: 48%;
            float: left;
            margin-right: 4%;

            &:nth-child(even){
                margin-right: 0;
            }
        }

        a {
            text-decoration: none;
            color: $color-variation;
            display: block;
            position: relative;
            z-index: 1;
            padding: 0 1em;

            &:hover {
                .main-text {
                    display: none;
                }
                .description {
                    display: block;
                }
            }
        }

        .main-text,
        .description {
            min-height: px-to-em(122px, $base-font-size);
        }

        &:after {
            content: "";
            background-color: $background-variation;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 35%;
            z-index: 0;
            transition: background-color 0.3s ease;
        }

        .description {
            display: none;
            @include ms-respond(padding-top, 1);
            margin: 0 auto;
            max-width: px-to-em(420px, $base-font-size);
        }
    }

    .project-title {
        @include ms-respond(padding-top, 0);
        @include ms-respond(padding-bottom, -2);
        @include ms-respond(font-size, 2);
        @include ms-respond(line-height, 3);

    }
}