.container-skills {
    li {
        padding: 0.5em;

        @include breakpoint-min(desktop-small){
            padding: 1em;
        }
    }

    .flex-container {
        justify-content: space-between;
    }

    svg {
        max-width: px-to-em(100px, $base-font-size);
    }
}

.skills-logos {
    @include ms-respond(padding-bottom, 0);
}

.skills-list {
    @include ms-respond(padding-bottom, 2);
    li {
       // width: 49%;
        //display: inline-block;
        padding: 0;
    }
}