.container-skills {
    @include ms-respond(padding-bottom, 0);
    li {
        padding: 0.5em;

        @include breakpoint-min(desktop-small){
            padding: 1em;
        }
    }

    .flexbox & {
        .flex-container {
            justify-content: space-between;
        }

        .no-flexbox & {
            .flex-container {
                width: 100%;
            }
        }
    }

    .no-flexbox & {
        .flex-container li {
            display: table-cell;
        }
    }

    svg {
        max-width: px-to-em(100px, $base-font-size);
    }
}