_site
_cache
dist
build
node_modules

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
_site
_site

*.code-workspace
.env

data/*.json

.lazyimages.json

pngquant*

imgxfm_SAFE.js
.netlify

.base64imgs.txt
.base64imgs.json
arraytest.js
.firebase
.vercel
.firebaserc
.Ulysses*.plist
ztest.js

src/_includes/css/*.*

csshash

csp.txt

_data/csshash.json
_data/year.json

