---
title: Homepage
layout: default
description: "Adrian Bece - Frontend, React, eCommerce, FE & UX Audits"
hero_title: Adrian Bece
hero_image: https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:eco/v1546171888/devstar/hero-homepage.webp
hero_image_fallback: https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:eco/v1546171888/devstar/hero-homepage.png
hero_text:
    <ul class="hero__subtitle hero__subtitle--list hero__subtitle--spacing">
    <li>Full-stack developer</li>
    <li>Award-winning developer</li>
    <li>Magento 2 certified</li>
    <li>Distinguished author</li>
    </ul>
    <div>
    <a
    class="button button--withIcon button--cta"
    target="_blank"
    rel="noopener noreferrer"
    href="https://www.buymeacoffee.com/ubnZ8GgDJ"
    >
    <span class="button__text">
    Support my work
    </span>
    <img
    class="lazyload"
    loading="lazy"
    src="https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:low/v1546683551/devstar/placeholder.png"
    data-src="/assets/bmc-new-btn-logo.svg"
    alt="Buy me a coffee logo icon coffee cup"
    /></a></div>
---

<section class="container--alt banner banner--center">
    <article class="banner__container">
        <strong>Passionate</strong> about crafting
        <strong>delightful</strong> and <strong>functional</strong> experiences
        and focused on writing <strong>clean</strong> and
        <strong>efficient </strong>code.
    </article>
</section>
<section class="featuredList glide" id="js-skills">
    <div class="glide__track" data-glide-el="track">
        <div class="glide__slides featuredList__items">
            <article class="featuredList__item glide__slide">
                <div class="featuredList__icon featuredList__icon--default">
                    <span class="icon icon__stack"></span>
                </div>
                <h3 class="title--secondary featuredList__title">
                    Full-stack professional
                </h3>
                <div class="featuredList__text">
                    I work with React-powered frontend and Firebase-powered
                    backend stack to create delightful, functional and
                    performant Progressive Web Apps (PWAs) for wide range of
                    browsers and devices.
                </div>
            </article>
            <article class="featuredList__item glide__slide">
                <div class="featuredList__icon featuredList__icon--default">
                    <span class="icon icon__trophy"></span>
                </div>
                <h3 class="title--secondary featuredList__title">
                    Hackathon winner
                </h3>
                <div class="featuredList__text">
                    So far, I've competed and won a grand prize in 3 hackathons:
                    DEV x Twilio hackathon, Egghead VSCode hackathon and
                    Hashnode Christmas hackathon.
                </div>
            </article>
            <article class="featuredList__item glide__slide">
                <div class="featuredList__icon featuredList__icon--default">
                    <span class="icon icon__star--full"></span>
                </div>
                <h3 class="title--secondary featuredList__title">
                    Distinguished author
                </h3>
                <div class="featuredList__text">
                    I was recognized as an distinguished DEV author in 2019 and
                    a top Hashnode author in 2020. I'm also a guest writer for
                    Smashing Magazine, CSS-Tricks and LogRocket.
                </div>
            </article>
            <article class="featuredList__item glide__slide">
                <div class="featuredList__icon featuredList__icon--default">
                    <span class="icon icon__brand--magento"></span>
                </div>
                <h3 class="title--secondary featuredList__title">
                    Magento-certified developer
                </h3>
                <div class="featuredList__text">
                    I have developed and maintained multiple Magento and Magento
                    2 projects ranging from small-scale websites to multi-store
                    enterprise websites. I'm also certified Magento 1 and
                    Magento 2 developer.
                </div>
            </article>
        </div>
    </div>
    <div class="featuredList__controls" data-glide-el="controls[nav]">
        <button
            aria-label="Slide 1"
            class="button glide__bullet featuredList__bullet"
            data-glide-dir="=0"
        >
            <span class="visuallyHidden">Slide 1</span>
        </button>
        <button
            aria-label="Slide 2"
            class="button glide__bullet featuredList__bullet"
            data-glide-dir="=1"
        >
            <span class="visuallyHidden">Slide 2</span>
        </button>
        <button
            aria-label="Slide 3"
            class="button glide__bullet featuredList__bullet"
            data-glide-dir="=2"
        >
            <span class="visuallyHidden">Slide 3</span>
        </button>
        <button
            aria-label="Slide 4"
            class="button glide__bullet featuredList__bullet"
            data-glide-dir="=3"
        >
            <span class="visuallyHidden">Slide 4</span>
        </button>
    </div>
</section>

{% assign featuredWork = site.portfolio | where:'featured', "true" | sort:
"position" %}

<section class="featuredWork">
    <h2 class="title--secondary featuredWork__title">Featured Work</h2>
    <div class="featuredWork__overflowWrapper">
        <article class="glide" id="js-featuredWork">
            <div
                class="glide__track featuredWork-wrapper"
                data-glide-el="track"
            >
                <ul
                    class="glide__slides featuredWork-list"
                    id="js-featuredWork-list"
                >
                    {% for work in featuredWork %} {% include carousel-card.html
                    %} {% endfor %}
                </ul>
            </div>
            <div
                class="glide__bullets featuredWork__bullets"
                data-glide-el="controls[nav]"
            >
                {% for work in featuredWork %}
                <button
                    aria-label="Slide {{ forloop.index0 }}"
                    class="button glide__bullet"
                    data-glide-dir="={{ forloop.index0 }}"
                >
                    <span class="visuallyHidden"
                        >Slide {{ forloop.index0 }}</span
                    >
                </button>
                {% endfor %}
            </div>
        </article>
    </div>
</section>
{% include glide.html %}
<script>
    var featuredWorkJs = new Glide("#js-featuredWork", {
        type: "carousel",
        focusAt: "center",
        perView: 3,
        gap: -20,

        breakpoints: {
            767.5: {
                perView: 1,
                gap: 20,
            },
        },
        classes: {
            slider: "featuredWork-slider",
            carousel: "featuredWork-carousel",
            swipeable: "featuredWork-swipeable",
            dragging: "featuredWork-dragging",
            cloneSlide: "featuredWork-slide-clone",
            activeSlide: "featuredWork__item--active",
            disabledArrow: "featuredWork-arrow-disabled",
        },
    });

    var slider = new Glide("#js-skills", {
        type: "slider",
        bound: true,
        rewind: false,
        touchRatio: 0,
        gap: 0,
        perView: 4,
        breakpoints: {
            568: {
                touchRatio: 0.5,
                perView: 1,
            },
            1140: {
                touchRatio: 0.5,
                perView: 2,
            },
        },
    });

    setTimeout(function () {
        slider.mount();
    }, 200);

    setTimeout(function () {
        featuredWorkJs.mount();
    }, 200);
</script>
