.formList {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.formList__item {
    padding-bottom: var(--spacing__vertical--1);
}

.label {
    display: block;
    font-family: var(--typography__fontFamily--secondary);
}

.formList__note {
    display: block;
    line-height: var(--spacing__vertical--1);
    font-size: var(--typography__ms--n1);
    color: var(--color__grayscale--medium);
}
