ul,
ol {
    margin-top: 0;
    margin-bottom: var(--spacing__vertical--1);
    padding-left: var(--spacing__horizontal--1);
}

@media (--mq__mobileLandscape--min) {
    ul,
    ol {
        padding-left: var(--spacing__horizontal--2);
    }
}
