::-webkit-scrollbar {
    width: var(--spacing__horizontal--n2);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color__secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: var(--border__width--heavy);
    background: var(--color__grayscale--medium);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
