.title--secondary {
    margin-bottom: var(--spacing__vertical--n1);
    padding-bottom: calc(
        var(--spacing__vertical--n1) - var(--border__width--medium)
    );
    border-bottom: var(--border__width--medium) solid var(--color__cta);
}
