.skills {
    max-width: var(--container__width--medium);
    margin-left: auto;
    margin-right: auto;
    padding: var(--spacing__vertical--2) var(--spacing__default--horizontal) 0;
}

.skills__title {
    padding-bottom: 0;
}
