.block {
    margin-left: auto;
    margin-right: auto;
    padding-right: var(--spacing__default--horizontal);
    padding-left: var(--spacing__default--horizontal);
    margin-bottom: var(--spacing__vertical--1);
}

.block--text {
    max-width: var(--container__width--medium);
}

.block--image {
    max-width: var(--container__width--wide);
}

.block__image {
    margin-left: auto;
    margin-right: auto;
}
