.share {
    display: flex;
    align-items: baseline;
    border-top: var(--border__width--light) solid var(--color__grayscale--light);
}

.share__link {
    font-size: var(--typography__ms--2);
    line-height: var(--spacing__vertical--2);

    &:not(:last-child) {
        margin-right: var(--spacing__horizontal--n1);
    }
}

@media (--mq__tablet--min) {
    .share {
        justify-content: flex-end;
    }
}
