{% if site.navigation_header %}
<nav class="navigation">
    <ul class="navigation__list navigation__list--default">
        {% for item in site.navigation_header %} {% if item[1] contains '://' %}
        {% assign url = item[1] %} {% else %} {% assign url = item[1] |
        relative_url %} {% endif %}

        <li
            class="navigation__item navigation__item--default {% if item[1]==page.url or item[1] != "/" and page.url contains item[1] %} navigation__item--current{% endif %}"
        >
            <a
                class="navigation__link navigation__link--default"
                href="{{ url }}"
                >{{ item[0] }}</a
            >
        </li>
        {% endfor %}
    </ul>
</nav>
{% else %} {% include nav-default.html %} {% endif %}
