<header class="header header--center header--default">
    <div class="header__wrapper">
        {% if site.logo %}{% include site-logo.html %}{% endif %} {% include
        nav-header.html %}
        <div>
            <a
                class="header__button button button--cta"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.buymeacoffee.com/ubnZ8GgDJ"
            >
                <span class="button__text">
                    Support my work
                </span>
                <img
                    loading="lazy"
                    class="button__image lazyload"
                    src="https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:low/v1546683551/devstar/placeholder.png"
                    data-src="/assets/bmc-new-btn-logo.svg"
                    alt="Buy me a coffee logo icon coffee cup"
            /></a>
        </div>
    </div>
</header>
