<script>
    if ("loading" in HTMLImageElement.prototype) {
        var images = document.querySelectorAll('img[loading="lazy"]');
        var sources = document.querySelectorAll("source[data-srcset]");
        sources.forEach(function (source) {
            source.srcset = source.dataset.srcset;
        });
        images.forEach(function (img) {
            img.src = img.dataset.src;
        });
    } else {
        var script = document.createElement("script");
        script.src = "/assets/scripts/lazysizes.js";
        document.body.appendChild(script);
    }

    var isIE = !!window.MSInputMethodContext && !!document.documentMode;

    if (isIE) {
        var promiseScript = document.createElement("script");
        promiseScript.type = "text/javascript";
        promiseScript.src =
            "https://cdn.jsdelivr.net/npm/promise-polyfill@8.1.3/dist/polyfill.min.js";

        var fetchScript = document.createElement("script");
        fetchScript.type = "text/javascript";
        fetchScript.src =
            "https://cdn.jsdelivr.net/npm/whatwg-fetch@3.4.0/dist/fetch.umd.min.js";

        var stylesLink = document.createElement("link");
        stylesLink.rel = "stylesheet";
        stylesLink.type = "text/css";
        stylesLink.href = "https://codeadrian.github.io/assets/all.css";

        var fontLink = document.createElement("link");
        fontLink.rel = "stylesheet";
        fontLink.type = "text/css";
        fontLink.href =
            "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald&display=swap";

        document.head.appendChild(promiseScript);
        document.head.appendChild(fetchScript);
        document.head.appendChild(stylesLink);
        document.head.appendChild(fontLink);
    }
</script>
