<aside class="layout__aside">
    <h2 class="title--secondary aside__heading">Categories</h2>
    <ul class="aside__list aside__tags">
        {% capture temptags %} {% for tag in site.tags %} {{ tag[1].size | plus:
        1000 }}#{{ tag[0] }}#{{ tag[1].size }} {% endfor %} {% endcapture %} {%
        assign sortedtemptags = temptags | split:' ' | sort | reverse %} {% for
        temptag in sortedtemptags %} {% assign tagitems = temptag | split: '#'
        %} {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
        <li>
            <a href="/tag/{{ tagname | downcase }}">{{ tagname }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2 class="title--secondary aside__heading">Latest Posts</h2>
    <ul class="aside__list">
        {% for post in site.posts limit:4 %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2 class="title--secondary aside__heading">RSS Feed</h2>
    <p>
        <a target="_blank" rel="noopener noreferrer" href="/feed.xml"
            >RSS Feed</a
        >
    </p>
    <h2 class="title--secondary aside__heading">Social</h2>
    <ul class="aside__list">
        <li>
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://twitter.com/AdrianBeceDev"
            >
                <span class="icon icon__social--twitter"></span> Twitter</a
            >
        </li>
        <li>
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/codeAdrian"
            >
                <span class="icon icon__social--github"></span> GitHub
            </a>
        </li>
        <li>
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/adrianbece/"
            >
                <span class="icon icon__social--linkedin"></span> LinkedIn</a
            >
        </li>
        <li>
            <a href="mailto:adrianbece@live.com">
                <span class="icon icon__social--email"></span> Email</a
            >
        </li>
    </ul>
</aside>
