<header class="header header--center header--default">
    <div class="header__wrapper">
        {% if site.logo %}{% include site-logo.html %}{% endif %} {% include
        nav-header.html %}
        <div>
            <a
                class="header__button button button--cta"
                target="_blank"
                href="https://www.buymeacoffee.com/ubnZ8GgDJ"
            >
                <span class="button__text">
                    Support my work
                </span>
                <img
                    class="button__image"
                    src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg"
                    alt="Buy me a coffee"
            /></a>
        </div>
    </div>
</header>
