<footer class="footer">
    <div class="footer__main container--alt">
        <div class="footer__inner">
            <div class="footer__col">
                <input
                    class="visuallyHidden footer__control"
                    class="visuallyHidden"
                    type="checkbox"
                    id="cbx-footer-about"
                />
                <label class="footer__label" for="cbx-footer-about">
                    <h3 class="footer__title">About</h3>
                </label>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="/portfolio/">Portfolio</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/blog/">Blog</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/skills/">Skills</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/contact/">Contact me</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <input
                    class="visuallyHidden footer__control"
                    class="visuallyHidden"
                    type="checkbox"
                    id="cbx-footer-blog"
                />
                <label class="footer__label" for="cbx-footer-blog">
                    <h3 class="footer__title">Popular Posts</h3>
                </label>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            class="footer__link footer__link--tag"
                            href="https://dev.to/adrianbdesigns/you-can-create-these-elements-without-javascript-525a"
                            >You can create these elements without JavaScript</a
                        >
                    </li>
                    <li class="footer__item">
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            class="footer__link footer__link--tag"
                            href="https://dev.to/prototyp/optimizing-images-for-the-web-an-in-depth-guide-4j7d"
                            >Optimizing images for the web - an in-depth
                            guide</a
                        >
                    </li>
                    <li class="footer__item">
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            class="footer__link footer__link--tag"
                            href="https://dev.to/prototyp/improve-your-css-with-these-5-principles-35jd"
                            >Improve your CSS with these 5 principles</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__col footer__col--last">
                <input
                    class="visuallyHidden footer__control"
                    class="visuallyHidden"
                    type="checkbox"
                    id="cbx-footer-social"
                />
                <label class="footer__label" for="cbx-footer-social">
                    <h3 class="footer__title">Social</h3>
                </label>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            class="footer__link"
                            href="https://dev.to/adrianbdesigns/"
                        >
                            <span class="icon icon__brand--dev"></span>
                            Dev Community</a
                        >
                    </li>
                    <li class="footer__item">
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            class="footer__link"
                            href="https://twitter.com/AdrianBeceDev"
                        >
                            <span class="icon icon__social--twitter"></span>
                            Twitter</a
                        >
                    </li>
                    <li class="footer__item">
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            class="footer__link"
                            href="https://github.com/codeAdrian"
                        >
                            <span class="icon icon__social--github"></span>
                            GitHub
                        </a>
                    </li>
                    <li class="footer__item">
                        <a
                            target="_blank"
                            rel="noopener noreferrer"
                            class="footer__link"
                            href="https://www.linkedin.com/in/adrianbece/"
                        >
                            <span class="icon icon__social--linkedin"></span>
                            LinkedIn</a
                        >
                    </li>
                    <li class="footer__item">
                        <a
                            class="footer__link"
                            href="mailto:adrianbece@live.com"
                        >
                            <span class="icon icon__social--email"></span>
                            Email</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <small> &copy; 2015-present Adrian Bece. All Rights Reserved. </small>
    </div>
</footer>
