<article class="card portfolio__item">
    <a class="card__link" href="{{ site.baseurl }}{{ work.url }}">
        <div class="container--alt card__titleWrapper">
            <h2 class="card__title">{{ work.title }}</h2>
            <div>{{ work.contribution }} | {{ work.platform }}</div>
        </div>

        <div class="card__imageWrapper">
            <div class="card__background"></div>
            <div class="card__inner">
                <div class="imageContainer">
                    <picture>
                        <source
                            data-srcset="{{ work.image }}"
                            type="image/webp"
                        />
                        <source data-srcset="{{ work.image_fallback }}" />
                        <img
                            class="card__image"
                            src="https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:low/v1546683551/devstar/placeholder.png"
                            data-src="{{ work.image_fallback }}"
                            alt="{{ work.title }}"
                        />
                    </picture>

                    <div
                        class="image--default image--1024x643 image--lazyLoaded"
                    >
                        <div class="icon icon__image image--placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>
