.links {
  display: inline-flex;
  align-items: baseline;
  gap: calc(var(--spacing-n1) + var(--spacing-n2));
  font-size: var(--font-size-2);
  position: relative;

  &__link {
    display: block;
    line-height: 0;
  }
}
