.banner {
  background-color: var(--color-gray-light);
  padding: var(--spacing-4) 0;
  text-align: center;

  &__container {
    font-size: var(--font-size-3);
    line-height: var(--spacing-3);
  }
}
