.projects {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);

  &__title {
    font-size: var(--font-size-4);
    padding-bottom: var(--spacing-2);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--spacing-2);
  }
}
