.banner {
  background-color: var(--color-gray-light);
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-5);
  text-align: center;

  @media (--screen-tablet-small) {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-5);
  }

  &__container {
    font-size: clamp(var(--font-size-1), 2vw + 1rem, var(--font-size-3));
    line-height: clamp(var(--spacing-2), 4vw + 1rem, var(--spacing-3));
  }
}
