.banner {
  background-color: var(--color-gray-light);
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-5);
  text-align: center;

  &__container {
    font-size: clamp(var(--font-size-2), 2vw + 1rem, var(--font-size-3));
    line-height: clamp(var(--spacing-2), 4vw + 1rem, var(--spacing-3));
  }
}
