::-webkit-scrollbar {
  width: calc(var(--spacing-n2) + var(--spacing-n3));
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-gray-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--color-gray-medium);

  &:hover {
    background: var(--color-gray-darker);
  }
}
