body {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-0);
  line-height: var(--line-height);
  color: var(--color-grayscale-darkest);
}

h1,
h2,
h3 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
}
