:root {
  --color-primary: hsl(26, 81%, 37%);
  --color-primary-tint: hsl(27, 81%, 32%);

  --color-secondary: hsl(23, 37%, 87%);

  --color-gray-lightest: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 90%);
  --color-gray-medium: hsl(0, 0%, 55%);
  --color-gray-darker: hsl(0, 0%, 31%);
  --color-gray-darkest: hsl(0, 0%, 8%);
}
