@custom-media --screen-phone-large screen and (min-width: 35.5rem); /* 568px */
@custom-media --screen-tablet-small screen and (min-width: 48rem); /* 768px */
@custom-media --screen-desktop-small screen and (min-width: 64rem); /* 1024px */
@custom-media --screen-desktop-medium screen and (min-width: 85rem); /* 1360px */
@custom-media --screen-desktop-large screen and (min-width: 90rem); /* 1440px */
