---
layout: base
---

{% include 'layouts/partials/header.njk' %}
<main>
      {{ content | safe }}
</main>
{% include 'layouts/partials/footer.njk' %}

<script src="/assets/js/swiper-bundle.min.js"></script>
<script async src="/assets/js/about-slider.js"></script>
<script async src="/assets/js/featured-slider.js"></script>
<script async src="/assets/js/testimonials-slider.js"></script>