---
layout: base
---

{% include 'layouts/partials/header.njk' %}
<main>
      {{ content | safe }}
</main>
{% include 'layouts/partials/footer.njk' %}

<script src="/assets/js/glide.min.js"></script>
<script src="/assets/js/glideInit.js"></script>