---
layout: base
---

{% include 'layouts/partials/header.njk' %}
<main>
      {{ content | safe }}
</main>
{% include 'layouts/partials/footer.njk' %}

<script async src="/assets/js/bundle.js"></script>