<section class="u-container u-container--larger about" id="js-about">
    <article data-glide-el="track" class="glide__track">
        <ul class="glide__slides about__list">
            <li class="glide__slide card">
                <div class="card__wrapper">
                    <figure class="card__figure card__figure--icon">
                        <span class="icon icon--stack"></span>
                    </figure>
                    <h2 class="card__title">
                        Fullstack professional
                    </h2>
                    <p class="card__content">
                        With more than 7 years of experience, I've become an expert web developer As a result, I'm very profficient with modern
                        JavaScript frameworks like React and Svelte. I am also familiar with Eleventy and I have a great understanding of
                        Firebase which I use for backend features.
                    </p>
                </div>
            </li>
            <li class="glide__slide card">
                <div class="card__wrapper">
                    <figure class="card__figure card__figure--icon">
                        <span class="icon icon--trophy"></span>
                    </figure>
                    <h2 class="card__title">
                        Award-winning developer
                    </h2>
                    <p class="card__content">
                        I love putting my skills to the test, so I've participated in several hackathons. I've won a grand prize in three
                        competitions - Twilio Hackathon 2019, Egghead VSCode hackathon 2020 and Hashnode Xmas hackathon 2020. You can read more
                        about them in the projects section.
                    </p>
                </div>
            </li>
            <li class="glide__slide card">
                <div class="card__wrapper">
                    <figure class="card__figure card__figure--icon">
                        <span class="icon icon--star-full"></span>
                    </figure>
                    <h2 class="card__title">
                        Distinguished author
                    </h2>
                    <p class="card__content">
                        I'm a regular contributor and a guest author on well-known publications like Smashing Magazine and CSS-Tricks. I've also
                        contributed articles to LogRocket and DEV.to. I've been also recognized as a distinguished author on DEV in 2019 and
                        2020.
                    </p>
                </div>
            </li>
        </ul>
    </article>
</section>