<section class="u-container u-container--larger about splide" id="js-about">
  <div class="splide__track">
    <article class="about__list splide__list">
      {% for about in collections.about %}
      <div class="splide__slide card">
        <div class="splide__slide__container card__wrapper">
          <figure class="card__figure card__figure--icon">
            {% lucide about.data.icon, { "size": "64", "stroke-width": "2"} %}
          </figure>
          <h2 class="card__title">
            {{ about.data.title }}
          </h2>
          <p class="card__content">
            {{ about.data.description }}
          </p>
        </div>
      </div>
      {% endfor %}
    </article>
  </div>
</section>
