<section class="u-container u-container--larger about swiper" id="js-about">
    <article class="about__list swiper-wrapper">
        {% for about in collections.about %}
            <div class="swiper-slide card">
                <div class="card__wrapper">
                    <figure class="card__figure card__figure--icon">
                        <span class="icon icon--{{ about.data.icon }}"></span>
                    </figure>
                    <h2 class="card__title">
                        {{ about.data.title }}
                    </h2>
                    <p class="card__content">
                        {{ about.data.description }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </article>
</section>