<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
<link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Spartan:wght@500;700&display=swap"/>
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Spartan:wght@500;700&display=swap"
    media="print"
    onload="this.media='all'"/>