<footer class="footer u-t-center">
  <aside class="footer__marquee" role="presentation" aria-hidden="true">
    <div class="footer__marquee-inner">
      {% for i in range(0, 5) %}
      <span class="footer__marquee-item">Delightful</span>
      <span class="footer__marquee-item">Usable</span>
      <span class="footer__marquee-item">Performant</span>
      <span class="footer__marquee-item">Awesome</span>
      <span class="footer__marquee-item">SEO Optimized</span>
      <span class="footer__marquee-item">Hand-crafted</span>
      <span class="footer__marquee-item">Accessible</span>
      <span class="footer__marquee-item">Memorable</span>
      {% endfor %}
    </div>
  </aside>
  <section class="u-container u-container-spacing u-container--medium-large">
    <p class="footer__credits">
      Created and maintained with
      <span class="c-primary"
        >{% lucide "heart", { "size": "16", "stroke-width": "3", "fill":
        "currentColor" } %}</span
      >&nbsp;by Adrian Bece since 2015
    </p>
    {% include 'layouts/partials/linkList.njk' %}
    <blockquote class="footer__quote">Per aspera ad astra.</blockquote>
  </section>
</footer>
