<footer class="footer u-t-center">
  <section class="u-container u-container-spacing u-container--medium-large">
    <p class="footer__credits">
      Created and maintained with
      <span class="c-primary"
        >{% lucide "heart", { "size": "16", "stroke-width": "3", "fill":
        "currentColor" } %}</span
      >&nbsp;by Adrian Bece since 2015
    </p>
    {% include 'layouts/partials/linkList.njk' %}
    <blockquote class="footer__quote">Per aspera ad astra.</blockquote>
  </section>
</footer>
