<section class="banner">
  <article class="u-container u-container-spacing u-container--medium-large banner__container">
    Devoted to crafting delightful experiences with exceptional performance and quality
  </article>
</section>