<header class="header">
    <div class="header__wrapper u-container u-container-spacing u-container--larger">
        <div class="u-t-center">
            <h1 class="header__title">
                <a href="/" class="u-link-reset">
                    codeAdrian</a>
            </h1>
        </div>
        <nav>
            <ul class="header__links u-list-reset">
                <li>
                    <a class="u-link-reset header__link" href="/#js-about">About me</a>
                </li>
                <li>
                    <a class="u-link-reset header__link" href="/#js-portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="u-link-reset header__link" href="/#js-testimonials">Testimonials</a>
                </li>
            </ul>
        </nav>
    </div>
</header>