<ul class="u-list-reset links {{ styleClass }}">
    <li class="links__item">
        <a
            href="https://twitter.com/AdrianBeceDev"
            target="_blank"
            class="u-link-reset links__link link"
            rel="noopener noreferrer">
            <span class="visually-hidden">Twitter</span>
            <span class="icon icon--social-twitter"></span>
        </a>
    </li>
    <li class="links__item">
        <a
            href="https://www.linkedin.com/in/adrianbece/"
            target="_blank"
            class="u-link-reset  links__link link"
            rel="noopener noreferrer">
            <span class="visually-hidden">LinkedIn</span>
            <span class="icon icon--social-linkedin"></span>
        </a>
    </li>
    <li class="links__item">
        <a
            href="https://github.com/codeAdrian"
            target="_blank"
            class="u-link-reset  links__link link"
            rel="noopener noreferrer">
            <span class="visually-hidden">GitHub</span>
            <span class="icon icon--social-github"></span>
        </a>
    </li>
</ul>