<section class="testimonials">
  <div class="banner u-container-spacing">
    <h1 class="testimonials__title u-t-center">
      Kind words from clients and colleagues
    </h1>
  </div>
  <article
    class="splide testimonials__content u-container u-container--medium-large"
    id="js-testimonials"
  >
    <nav class="splide__arrows testimonials__controls u-container-spacing">
      <button
        class="splide__arrow splide__arrow--prev button button--rounded button-outline button-outline--primary testimonials__control"
      >
        <span class="visually-hidden">Previous</span>
        {% lucide "arrow-left", { "size": "24", "stroke-width": "2" } %}
      </button>
      <button
        class="splide__arrow splide__arrow--next button button--rounded button-outline button-outline--primary testimonials__control"
      >
        <span class="visually-hidden">Next</span>
        {% lucide "arrow-right", { "size": "24", "stroke-width": "2" } %}
      </button>
    </nav>
    <div class="splide__track">
      <div class="splide__list">
        {% for item in collections.testimonials %}
        <div class="splide__slide card testimonials__item">
          <div class="splide__slide__container">
            <figure class="card__figure testimonials__image">
              <span class="card__figure-placeholder">
                {% lucide "file-image", { "size": "63", "stroke-width": "2" } %}
              </span>
              {% image "testimonials/"+item.data.image, item.data.name + "
              photo", "card__image", "lazy", "async", 150, 150, "150px" %}
            </figure>
            <blockquote
              class="testimonials__quote card__content"
              cite="https://www.linkedin.com/in/adrianbece/"
            >
              {{ item.templateContent | safe }}
            </blockquote>
            <div class="testimonials__credits u-t-right">
              <h2 class="testimonials__author">
                {{ item.data.name }}
              </h2>
              {{ item.data.role }} at<br />
              <strong>
                {{ item.data.company }}
              </strong>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </article>
</section>
