button,
.button {
    outline: 0;
    border: 0;
    text-decoration: none;
    background: $cta;
    color: $color-variation;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    @include ms-respond(font-size, 0);
    @include ms-respond(line-height, 0);
    width: 100%;

    @include breakpoint-min(mobile-landscape){
        min-width: px-to-em(320px);
        padding-left: 2em;
        padding-right: 2em;
        width: auto;
    }

    &:hover {
        background: darken($cta, 5%)
    }

    &:active {
        background: lighten($cta, 5%)
    }
}