button,
.button {
    outline: 0;
    border: 0;
    text-decoration: none;
    background: $cta;
    color: $color-variation;
    padding: 1em 2em;
    font-weight: bold;
    text-transform: uppercase;
    min-width: px-to-em(320px);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    @include ms-respond(font-size, 0);
    @include ms-respond(line-height, 0);

    &:hover {
        background: darken($cta, 5%)
    }

    &:active {
        background: lighten($cta, 5%)
    }
}