.containerHero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;

    &__list {
        @include adjust-font-size-to(30px, 14);
        @include padding-trailer(6);
        font-weight: $semiBold;
    }

    &__button {
        @include adjust-font-size-to(30px, 12);
    }

    &__wrapper {
        flex: 1;
        text-align: right;

        &--imageContainer {
            align-self: flex-end;
            position: relative;
        }
    }

    &__image {
        margin-left: auto;
        margin-right: 0;
        max-height: calc(100vh - 4em);
    }

    &__background {
        transform: rotate(45deg);
        transform-origin: 100%;
        backface-visibility: hidden;

        &:before,
        &:after {
            content: "";
        }

        &, &:before, &:after {
            animation: fade-in-out;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-direction: alternate;
            @include absolute($bottom: -50%, $right: 0);
            background-color: $elementColor;
            width: 104%;
            height: 45%;
            z-index: -1;
        }

        &:before {
            bottom: 45%;
            width: 110%;
            animation-delay: .7s;
            animation-duration: 1.641s;
        }

        &:after {
            bottom: 90%;
            width: 118%;
            animation-delay: 1.13s;
            animation-duration: 1.217s;
        }
    }
}

.containerSecondary {
    background-color: $backgroundSecondary;

    &--pattern {
        background-image: url("../images/pattern.jpg");
    }
}

.containerSubtitle {
    text-align: center;
    @include adjust-font-size-to(48px, 18);
    max-width: px-to-em(768px, 48);
    margin: 0 auto;
    @include rhythm-padding(10, 20);
    font-weight: $normal;
}

.containerFeatures {
    display: flex;
    justify-content: center;
    @include padding-trailer(30);
    margin-top: px-to-em(-55px, $base-font-size);
    max-width: px-to-em(1024px, $base-font-size);
    margin-left: auto;
    margin-right: auto;

    &__title {
        text-align: center;
        @include padding-trailer(2);
        @include margin-trailer(3);
        border-bottom: 2px solid $ctaColor;
    }

    &__wrapper {
        position: relative;
        flex: 1;

        &:not(:first-child){
            padding-left: 2em;
        }

        &:after {
            content: "";
            @include absolute($bottom:0,$left:0,$right:0);
            width:75%;
            height: .5em;
            margin: 0 auto;
            box-shadow: 0 2.5em 15px 1px rgba($Nero,.1);
            border-radius: 100%;
        }
    }

    &__iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        @include margin-trailer(2);
        width: px-to-em(110px, $base-font-size);
        height: px-to-em(110px, $base-font-size);
        border-radius: 100%;
        background-color: $backgroundPrimary;

        .icon {
            color: $ctaColor;
            @include adjust-font-size-to(48px);
        }
    }
}

.containerAbout {
    @include padding-trailer(10);
    display: flex;
    align-items: center;

    &__imagesContainer {
        flex: 5;
    }

    &__textContainer {
        @include rhythm-padding(8, 4);
        flex: 7;

        div {
            padding-left: 4em;
            max-width: px-to-em(768px, $base-font-size);
        }
    }
}

.containerWork {
    @include padding-leader(10);
    @include padding-trailer(15);
    text-align: center;

    &__containerToggle:not(&__containerToggle--extended) {
        .containerWork__list {
            li:nth-child(n+7){
                display: none;
            }
        }
    }

    &__title {
        @include margin-trailer(12);
    }

    &__list {
        padding: 0 1.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include margin-trailer(3);
        margin-left: auto;
        margin-right: auto;
    }

    &__card {
        flex: 1 33.333%;
        max-width: 32%;
        padding-bottom: 9%;
        @include margin-trailer(10);

        &Title{
            @include adjust-font-size-to(36px);
            @include margin-trailer(2);
        }

        a {
            display: block;
            height: 100%;
            border-bottom-width: 0;
            color: $fontColorPrimary;

            &:hover {
                .containerSecondary {
                    box-shadow: inset 0 0 0 15em rgba(darken($backgroundSecondary,50%),.3);
                }
            }
        }

        div {
            box-shadow: inset 0 0 0 15em rgba(darken($backgroundSecondary,50%),0);
            transition: box-shadow 0.3s ease;
            @include padding-leader(5);
            min-height: 100%;
        }

        img {
            margin-top: -29%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}