.containerHero {
    overflow: hidden;
    @media screen and (min-width: $mobile-landscape) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    @media screen and (min-width: $desktop-small) and (min-height: $mobile-wide) {
        min-height: 100vh;
    }

    &__list {
        @media screen and (min-width: $tablet-portrait) {
            @include adjust-font-size-to(20px, 10);
        }
        @media screen and (min-width: $desktop-small) {
            @include adjust-font-size-to(28px, 14);
        }

        @include padding-trailer(6);
        font-weight: $semiBold;
    }

    & &__button {
        @include adjust-font-size-to(24px, 8);

        @media screen and (min-width: $tablet-portrait) {
            @include adjust-font-size-to(30px, 12);
        }
    }

    &__wrapper {
        text-align: center;

        &--text {
            text-align: center;

            div {
                padding-left: 1em;
                padding-right: 1em;

                @media screen and (min-width: $mobile-landscape) {
                    padding-right: 15%;
                    padding-left: 1.5em;
                    padding-bottom: 1.5em;
                }

                @media screen and (min-width: $desktop-small) {
                    padding-bottom: 0;
                    padding-right: 3em;
                }
            }
        }

        @media screen and (min-width: $mobile-landscape) {
            text-align: right;
            flex: 7;
        }

        @media screen and (min-width: $desktop-small) {
            flex: 1;
        }

        &--imageContainer {
            @media screen and (min-width: $mobile-landscape) {
                align-self: flex-end;
            }

            @media screen and (min-width: $mobile-landscape) {
                text-align: right;
                flex: 5;
            }

            @media screen and (min-width: $desktop-small) {
                flex: 1;
            }

            position: relative;
        }
    }

    &__image {
        margin-left: auto;
        margin-right: 0;
        padding-top: 2em;
        padding-left: 25%;

        @media screen and (min-width: $mobile-landscape) {
            padding-left: 0;
            padding-top: 4em;
        }

        @media screen and (min-width: $desktop-small) and (min-height: $mobile-wide) {
            padding-top: 0;
            max-height: calc(100vh - 4em);
        }
    }

    &__background {
        transform: rotate(45deg);
        transform-origin: 100%;
        backface-visibility: hidden;

        &:before,
        &:after {
            content: "";
        }

        &, &:before, &:after {
            animation: fade-in-out;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-direction: alternate;
            @include absolute($bottom: -50%, $right: 0);
            background-color: $elementColor;
            width: 115%;
            height: 45%;
            z-index: -1;

            @media screen and (min-width: $mobile-landscape) {
                width: 125%;
            }

            @media screen and (min-width: $desktop-large) {
                width: 104%;
            }
        }

        &:before {
            bottom: 45%;
            width: 110%;
            animation-delay: .7s;
            animation-duration: 1.641s;
        }

        &:after {
            bottom: 90%;
            width: 118%;
            animation-delay: 1.13s;
            animation-duration: 1.217s;
        }
    }
}

.containerSecondary {
    background-color: $backgroundSecondary;

    &--pattern {
        background-image: url("../images/pattern.jpg");
    }
}

.containerSubtitle {
    text-align: center;
    @include adjust-font-size-to(22px, 9);
    padding-left: .5em;
    padding-right: .5em;
    max-width: px-to-em(868px, 48);
    margin: 0 auto;
    @include rhythm-padding(5, 20);
    font-weight: $normal;

    p {
        padding-bottom: 0;
    }

    @media screen and (min-width: $mobile-landscape) {
        @include rhythm-padding(10, 25);
        padding-left: 1em;
        padding-right: 1em;
        @include adjust-font-size-to(32px, 12);
    }

    @media screen and (min-width: $desktop-small) {
        @include adjust-font-size-to(48px, 18);
    }
}

.containerFeatures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: px-to-em(-55px, $base-font-size);
    max-width: px-to-em(1180px, $base-font-size);
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $desktop-small) {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    &__inner {
        max-width: px-to-em(420px, $base-font-size);
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        text-align: center;
        @include padding-trailer(2);
        @include margin-trailer(3);
        border-bottom: 2px solid $ctaColor;
    }

    &__wrapper {
        position: relative;
        flex: 1 49%;
        outline: none;
        @include padding-trailer(25);

        @media screen and (min-width: $desktop-small) {
            @include padding-trailer(30);
        }

        @media screen and (min-width: $desktop-small) {
            flex: 1;

            &:not(:first-child) {
                padding-left: 2em;
            }
        }

        &:after {
            content: "";
            @include absolute($bottom: 0, $left: 0, $right: 0);
            width: 60%;
            height: .5em;
            margin: 0 auto;
            box-shadow: 0 -2.5em 15px 1px rgba($Nero, .1);
            border-radius: 100%;

            @media screen and (min-width: $desktop-small) {
                width: 75%;
                box-shadow: 0 -4.5em 15px 1px rgba($Nero, .1);
            }
        }
    }

    &__iconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        @include margin-trailer(2);
        width: px-to-em(110px, $base-font-size);
        height: px-to-em(110px, $base-font-size);
        border-radius: 100%;
        background-color: $backgroundPrimary;

        .icon {
            color: $ctaColor;
            @include adjust-font-size-to(48px);
        }
    }
}

.containerAbout {
    @media screen and (min-width: $desktop-small) {
        background-color: $backgroundSecondary;
        @include margin-trailer(13);
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: $desktop-large) {
        background-color: transparent;
    }

    &__imagesContainer {
        min-height: 0;
        min-width: 0;
        flex: 5;
    }

    .slick-slider {
        position: relative;

        .slick-slide {
            padding: 0;
        }

        .slick-dots {
            @include absolute($bottom: 0, $left: 0);
            margin-left: .5em;
            padding-bottom: .5em;

            li {
                display: block;
                @include margin-trailer(3);
                border: 2px solid $backgroundPrimary;
            }
        }
    }

    &__textContainer {
        width: 100%;
        flex: 1;
        @include rhythm-padding(8, 4);
        padding-left: 1.5em;
        padding-right: 1.5em;

        @media screen and (min-width: $desktop-small) {
            @include rhythm-padding(10);
            flex: 7;
        }

        @media screen and (min-width: $desktop-large) {
            @include rhythm-padding(8, 4);
        }

        div {
            @media screen and (min-width: $desktop-small) {
                max-width: px-to-em(768px, $base-font-size);
                padding-left: 1.5em;
            }
        }
    }
}

.containerWork {
    @include padding-leader(10);
    @include padding-trailer(17);
    @include margin-trailer(10);
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;

    @media screen and (min-width: $mobile-landscape) {
        @include padding-leader(7);
        @include padding-trailer(20);
    }

    @media screen and (min-width: $desktop-small) {
        overflow-x: hidden;
        margin-bottom: 0;

        &__wrapper {
            padding: 0;
            margin-left: -10%;
            margin-right: -10%;
        }
    }

    &__title {
        margin-left: .5em;
        margin-right: .5em;
        @include margin-trailer(12);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        outline: none;

        &Title {
            @include adjust-font-size-to(36px);
            @include margin-trailer(2);
        }

        a {
            display: block;
            height: 100%;
            border-bottom-width: 0;
            color: $fontColorPrimary;

            &:hover {
                .containerSecondary {
                    box-shadow: inset 0 0 0 15em rgba(darken($backgroundSecondary, 50%), .3);
                }
            }
        }

        .containerSecondary {
            box-shadow: inset 0 0 0 15em rgba(darken($backgroundSecondary, 50%), 0);
            transition: box-shadow 0.3s ease;
            @include padding-leader(5);
            padding-bottom: 29%;
            min-height: 100%;
        }
    }

    &__imageWrapper {
        display: inline-block;
        margin-top: -29%;
        background-image: url("../images/project-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;

        img {
            width: 100%;
            padding: percentage(31/812) percentage(103/812) percentage(82/812);
        }
    }

    @media screen and (min-width: $desktop-small) {
        .slick-slide {
            transform: scale(.88);
            padding: 0;
            transform-origin: bottom center;
            backface-visibility: hidden;
            transition: transform 0.3s .15s ease,
            opacity 0.3s .15s ease,
            filter 0.3s .15s ease;

            img {
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
                -ms-interpolation-mode: nearest-neighbor;
            }

        }

        .slick-next {
            right: 9%;
        }

        .slick-prev {
            left: 9%;
        }

        .slick-dots {
            padding-top: 2em;
            padding-bottom: 0;
        }

        .slick-arrow {
            bottom: 50%;
            z-index: 2;
        }

        .slick-slide:not(.slick-center) {
            opacity: .25;
            pointer-events: none;
            filter: grayscale(100%);
        }

        .slick-center {
            transform: scale(1);
        }
    }

    @media screen and (min-width: $desktop-small) and (min-height: $mobile-wide) {
        &__wrapper {
            padding: 0;
            margin-left: -27%;
            margin-right: -27%;
        }

        .slick-next {
            right: 19%;
        }

        .slick-prev {
            left: 19%;
        }

    }
}