header {
    background-color: $background-variation;
    color: $color-variation;
    @include fixed($top: 0, $left: 0, $right: 0);
    z-index: 2;

    @include breakpoint-min-max(mobile-minimum, mobile-landscape){
        > .container {
            padding: 0;
        }
    }

    @include breakpoint-min(tablet-portrait){
        top: 0;
    }

    .title {
        @include ms-respond(font-size, 2);
        font-family: $heading-font-family;
        display: none;

        @include breakpoint-min(mobile-landscape){
            display: block;
        }

        .no-flexbox & {
                width: 20%;
                display: table-cell;

            @include breakpoint-min(phablet-landscape){
                width: 10%;
            }

            @include breakpoint-min(tablet-portrait){
                width: 20%;
            }
        }

        .flexbox & {
            flex: 1 20%;

            @include breakpoint-min(phablet-landscape){
                flex: 1 10%;
            }

            @include breakpoint-min(tablet-portrait){
                flex: 1 25%;
            }
        }

        .title-text {
            display: none;

            @include breakpoint-min(tablet-portrait){
                display: inline-block;
            }
        }

        a {
            display: block;
            @include ms-respond(padding, -3);
            text-decoration: none;
            color: $background-default;

            @include breakpoint-min-max(mobile-minimum, tablet-portrait){
                background-image: url("../images/codeAdrian_logo.svg");
                background-repeat: no-repeat;
                background-size: contain;
                height: px-to-rem(40px);
                @include ms-respond(margin-top, -1);

                @include breakpoint-min-max(mobile-minimum, mobile-landscape){
                    height: px-to-rem(25px);
                    @include ms-respond(margin-top, -4);
                }

                @include breakpoint-min-max(mobile-landscape, tablet-landscape){
                    height: px-to-rem(30px);
                    @include ms-respond(margin-top, -3);
                }
            }
        }
    }

    nav {
        text-transform: uppercase;

        .no-flexbox & {
            width: 80%;
            display: table-cell;
            text-align: right;

            @include breakpoint-min(phablet-landscape){
                width: 90%;
            }

            @include breakpoint-min(tablet-portrait){
                width: 80%;
            }
        }

        .flexbox &  {
            flex: 4 80%;

            @include breakpoint-min(phablet-landscape){
                flex: 9 90%;
            }

            @include breakpoint-min(tablet-portrait){
                flex: 3 75%;
            }
        }
    }

    ul {
        .flexbox & {
            justify-content: space-around;
            @include breakpoint-min(mobile-landscape){
                justify-content: flex-end;
            }
        }

        .no-flexbox & {
            display: block;
            width: 100%;

            li {
                display: inline-block;
            }
        }
    }

    .link-container {
        font-weight: lighter;
        letter-spacing: px-to-em(1px, $base-font-size);

        a {
            display: block;
            padding: 1em 0.5em;
            text-decoration: none;
            color: $background-default;
            @include box-shadow(inset 0 0 0 0 $leather);
            transition: box-shadow 0.3s ease;

            @include breakpoint-min-max(mobile-minimum, phablet-portrait) {
                text-transform: uppercase;

                span {
                    display: none;
                }
            }

            @include breakpoint-min-max(mobile-minimum, mobile-landscape){
                padding: 1em 0.5em;
            }

            @include breakpoint-min-max(mobile-minimum, tablet-portrait){
                padding: 1.25em 0.75em;
                @include ms-respond(font-size, -2);
            }

            @include breakpoint-min-max(tablet-portrait, desktop-small){
                padding: 1.5em 0.75em;
                @include ms-respond(font-size, -1);
            }

            @include breakpoint-min(desktop-medium) {
                padding: 1em;
            }

            &:hover {
                @include box-shadow(inset 0 -0.3em 0 0 $leather);
            }

            &.active {
                @include box-shadow(inset 0 -5em 0 0 $leather);
            }
        }

        &:last-child {
            text-transform: capitalize;
            letter-spacing: 0;

            a {
                @include box-shadow(inset 0 0 0 0 $cta);

                &:hover {
                    @include box-shadow(inset 0 -0.3em 0 0 $cta);
                }
            }
        }
    }
}