/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images
 */

img {
    display: block;
    max-width: 100%; /* [1] */
    font-style: italic; /* [2] */
    -ms-interpolation-mode: bicubic; /* [3] */

    &:not([src]) {
        padding-bottom: 66.67%;
    }

    &:not(.loaded) {
        visibility: hidden;
    }
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 */

audio,
canvas,
iframe,
svg,
video {
    vertical-align: middle;
}

object, video {
    max-width: 100%;
}