/*------------------------------------------------------------*\
                       GENERAL PAGE SETUP
\*------------------------------------------------------------*/
html,
body {
    width: 100%;
    height: 100%;
}

@if ($debug-vertical-rhythm) {
    body {
        @include debug-vertical-alignment;
    }
}

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}