/*------------------------------------------------------------*\
                       GENERAL PAGE SETUP
\*------------------------------------------------------------*/
html,
body {
    width: 100%;
    height: 100%;
}

/**
 *
 * 1. Set the default typography rules sourced from our default variables.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Optimize font rendering
 */

html {
    box-sizing: border-box;
    font-family: $main-font-family; /* [1] */
    font-size: $base-font-size; /* [1] */
    overflow-y: scroll; /* [2] */
    -webkit-font-smoothing: antialiased;  /* [3] */
    -moz-osx-font-smoothing: grayscale;  /* [3] */
    -ms-text-size-adjust: none;  /* [3] */
    -webkit-text-size-adjust: none;  /* [3] */
}

body {
    line-height: $base-line-height; /* [1] */
    background-color: $background-default;
    color: $color-main;
}

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

.container {
    max-width: px-to-rem(map_get($breakpoints, desktop-medium));
    margin: 0 auto;
    padding-left: px-to-rem(10px);
    padding-right: px-to-rem(10px);

    @include breakpoint-min(mobile-landscape){
        padding-left: px-to-rem(20px);
        padding-right: px-to-rem(20px);
    }
}

.container-alt {
    background-color: $fallback-color;
    background-image: url("../images/bg.png");
    @include ms-respond(padding-bottom, 4);
}

.fluid-container {
    max-width: 100%;
}

.flexbox {
    .flex-container {
        display: flex;
    }
}

.no-flexbox {
    .flex-container {
        display: table;
    }
}

.narrow-container {
    max-width: px-to-rem(map_get($breakpoints, tablet-landscape));
    margin: 0 auto;

    padding-left: px-to-rem(10px);
    padding-right: px-to-rem(10px);

    @include breakpoint-min(mobile-landscape){
        padding-left: px-to-rem(20px);
        padding-right: px-to-rem(20px);
    }
}
.js {
    .reduced:not(.active){
        li:nth-child(n+5) {
            display: none;
        }
    }
}

.no-js {
    .button-container {
        display: none;
    }
}

.hidden {
    display: none;
}