/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    display: flex;
    left: 0;
    top: 0;

    @include clearfix();

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    height: 100%;
    min-height: 1px;
    display: none;
    padding-left: 1em;
    padding-right: 1em;

    &:focus {
        outline: none;
    }

    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Arrows */

.slick-arrow {
    position: absolute;
    display: block;
    cursor: pointer;
    bottom: -4rem;
    border: none;
    font-size: 0;
    line-height: 0;
    border-radius: 100%;
    background-color: $ctaColor;
    color: $fontColorSecondary;
    padding: .5rem 1rem;
    transition: background-color .3s ease;

    @media screen and (min-width: $mobile-landscape) {
        bottom: -5rem;
    }

    &:active,
    &:hover {
        background-color: darken($ctaColor,10%);
    }

    &.slick-disabled {
        background-color: $backgroundSecondary;
    }

    &:before {
        @include adjust-font-size-to(24px);
    }
}

.slick-prev:before,
.slick-next:before {
    line-height: 1;
}

.slick-prev {
    left: 30%;
    @extend .icon-left-dir;

    @media screen and (min-width: $mobile-landscape) {
        left: 40%;
    }
}

.slick-next {
    right: 30%;
    @extend .icon-right-dir;

    @media screen and (min-width: $mobile-landscape) {
        right: 40%;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    @include padding-trailer(8);
    text-align: center;

    li {
        display: inline-block;
        border-radius: 100%;
        width: 1em;
        height: 1em;
        overflow: hidden;
        background-color: $lightGray;
        transition: background-color .3s ease;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 1.25em;
        }

        &.slick-active {
            background-color: $ctaColor;
        }
    }

    button {
        visibility: hidden;
        border-width: 0;
        display: block;
    }
}