table {
    text-align: left;
}

th {
    min-width: 10em;
    padding-right: 2em;
}

th,
td {
    @include padding-trailer(3);
}

@media screen and (max-width: $mobile-wide) {
    table,
    tr,
    th,
    td,
    tbody {
        display: block;
    }

    td,
    th {
        @include padding-trailer();
    }

    th {
        @include padding-leader(3);
    }
}
