.cd-container::after {
	content: '';
	display: table;
	clear: both;
}

.cd-container {
	position: relative;
}
.cd-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 95%;
	width: 0.2em;
	background: $background-variation;
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	box-shadow: 0 0 0 0.3em $background-default;
	background: $background-variation;
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: white;
	border-radius: 0.25em;
	padding: 1em 1em 0;
	box-shadow: .1em .1em 0 .05em #d7e4ed;
}
.cd-timeline-content:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	display: inline-block;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
	background-color: #bac4cb;
}

.cd-timeline-content::before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid white;
}