/*------------------------------------------------------------*\
                               RESET
\*------------------------------------------------------------*/

$reset-list:"";

@for $i from 1 through length($reset-map){
    $reset-list: $reset-list + nth($reset-map, $i);
    @if($i!=length($reset-map)){
        $reset-list: $reset-list +", ";
    }
}

@if($reset-list != ""){
    #{$reset-list} {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
}

/* HTML5 display-role reset for older browsers */
@if ($support-older-browsers) {
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
}
@if($reset-body-line-height) {
    body {
        line-height: 1;
    }
}

@if ($use-ul or $use-ol){
    ol, ul {
        list-style: none;
    }
}

@if ($use-blockqoute or $use-q) {
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
}
@if ($use-table) {
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}