h2 {
    font-family: $heading-font-family;
    @include ms-respond(font-size, 5);
    @include ms-respond(line-height, 5);
    @include ms-respond(padding-top, 5);
    @include ms-respond(padding-bottom, 4);
}

h3 {
    font-family: $heading-font-family;
    @include ms-respond(font-size, 3);
    @include ms-respond(line-height, 3);
    @include ms-respond(padding-top, 2);
    @include ms-respond(padding-bottom, 1);
}

p{
    @include ms-respond(padding-bottom, 0);
}

b {
    font-weight: bold;
}

small {
    display: block;
    @include ms-respond(font-size, -1);
    @include ms-respond(line-height, 2);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/socicon.woff') format('woff'),
    url('../fonts/socicon.ttf') format('truetype'),
    url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    padding-bottom: 12px;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding:0 0.25em;

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    line-height: 48px;
    font-size: 32px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 16px;
    color: #ffffff;
    background-color: none;
    border-bottom: 0.1em solid $navy-blue;
}

.soc a:hover {
    z-index: 2;
    border-bottom: 0.1em solid $leather;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-github:before {
    content:'\e030';
}

.soc-linkedin:before {
    content:'\e049';
}
.soc-mail:before {
    content:'\e01f';
}
.soc-twitter:before {
    content:'\e040';
}