{% assign url = site.url
  | append: site.baseurl | append: page.url %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}
  
  <head>
    <!-- General meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}

      <title>{% if collectiondata.title %}{{ collectiondata.title }}{% else %}{{page.title}}{% endif %} | {{ site.title }}</title>
      <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{page.excerpt}}{% endif %}">

      <!-- Google / Search Engine Tags -->
      <meta itemprop="name" content="{% if collectiondata.title %}{{ collectiondata.title }}{% else %}{{page.title}}{% endif %} | {{ site.title }}">
      <meta itemprop="description" content="{% if page.description %}{{page.description}}{% else %}{{page.excerpt}}{% endif %}">
      <meta itemprop="image" content="{% if page.hero_image_fallback %}{{page.hero_image_fallback}}{% elsif page.image_fallback %}{{page.image_fallback}}{% else %}https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:low/v1546683551/devstar/placeholder.png{% endif %}">
      
      <!-- Facebook Meta Tags -->
      <meta property="og:url" content="{{ url }}">
      <meta property="og:type" content="website">
      <meta property="og:title" content="{% if collectiondata.title %}{{ collectiondata.title }}{% else %}{{page.title}}{% endif %} | {{ site.title }}">
      <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{page.excerpt}}{% endif %}">
      <meta property="og:image" content="{% if page.hero_image_fallback %}{{page.hero_image_fallback}}{% elsif page.image_fallback %}{{page.image_fallback}}{% else %}https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:low/v1546683551/devstar/placeholder.png{% endif %}">
      
      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="{% if collectiondata.title %}{{ collectiondata.title }}{% else %}{{page.title}}{% endif %} | {{ site.title }}">
      <meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{page.excerpt}}{% endif %}">
      <meta name="twitter:image" content="{% if page.hero_image_fallback %}{{page.hero_image_fallback}}{% elsif page.image_fallback %}{{page.image_fallback}}{% else %}https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:low/v1546683551/devstar/placeholder.png{% endif %}">

      <meta name="theme-color" content="#151515" />

    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <script src="/assets/scripts/glide.js"></script>
    <script src="/assets/scripts/lazyload.js"></script>
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Oswald" rel="stylesheet">

    {% if site.avatarurl %}{% include site-favicons.html %}{% endif %}

    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

    {% include site-before-start.html %}
  </head>

  <body class="pageContent">

    {% include site-header.html %}

    {% include site-hero.html %}
    
    {{ content }}
    
    {% include site-footer.html %}

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}

    {% include site-before-end.html %}
  </body>

</html>