---
layout: default
---

<main class="main">
    <section class="card">
        <div class="container--alt card__titleWrapper">
            <h1 class="card__title project__cardTitle">{{ page.title }}</h1>
        </div>

        <div class="card__imageWrapper project__cardImage">
            <div class="card__background"></div>
            <div class="card__inner">
                <div class="imageContainer">
                    <picture>
                        <source
                            data-srcset="{{ page.image }}"
                            type="image/webp"
                        />
                        <source data-srcset="{{ page.image_fallback }}" />
                        <img
                            loading="lazy"
                            class="card__image lazyload"
                            src="https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:low/v1546683551/devstar/placeholder.png"
                            data-src="{{ page.image_fallback }}"
                            alt="{{ page.title }}"
                        />
                    </picture>
                    <div
                        class="image--default image--1024x643 image--lazyLoaded"
                    >
                        <div class="icon icon__image image--placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project__info">
        <div>
            <small><strong>Platform: </strong>{{ page.platform }}</small>
        </div>
        <div>
            <small><strong>Type:</strong> {{ page.contribution }}</small>
        </div>
        <div>
            <small>
                <strong>View project:</strong>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="{{ page.link }}"
                    >Project website</a
                >
            </small>
        </div>
    </section>
    <section class="project__content">
        {{ content | markdownify }} {% if page.previous %} {% assign previous =
        page.previous %} {% else %} {% assign previous = site.posts[0] %} {%
        endif %} {% assign last lastPostIndex = site.portfolio | size | minus: 1
        %} {% if page.previous %} {% assign previous = page.previous %} {% else
        %} {% assign previous = site.portfolio[lastPostIndex] %} {% endif %} {%
        if page.next %} {% assign next = page.next %} {% else %} {% assign next
        = site.portfolio[0] %} {% endif %}

        <div class="block block--image project__pager">
            <nav class="project__pager-wrapper">
                <small>
                    <a href="{{previous.url}}">{{previous.title}}</a>
                </small>
                <div class="banner--center">
                    <a
                        class="button button--cta"
                        target="_blank"
                        rel="noopener noreferrer"
                        href="{{ page.link }}"
                    >
                        View project
                    </a>
                </div>
                <small>
                    <a href="{{next.url}}"> {{next.title}} </a>
                </small>
            </nav>
        </div>
    </section>
</main>
