---
layout: default
---

<main class="post">
    <section class="post__wrapper">
        <article class="hero post__hero">
                <div class="post__heading ">
                        {% assign date_format = site.date_format | default: "%d %b %Y"
                        %}
                        <div class="blog__date">
                            <time
                                datetime="{{ page.date | date_to_xmlschema }}"
                                class="time"
                                >{{ page.date | date: date_format }}</time
                            >
                        </div>
                    <h1 class="post__title">{{ page.title }}</h1>
                </div>
                <div class="post__imageContainer">
                        <img
                        class="post__image"
                        src="https://res.cloudinary.com/dazdt97d3/image/upload/q_auto:low/v1546683551/devstar/placeholder.png"
                            data-src="{{ page.image }}"
                            alt="{{ page.title }} Featured Image"
                        />
                </div>
        </article>
       
        {{ content }}

        <article class="block block--text post__metaWrapper">{% include post-meta.html %}</article>

        {% include nav-share.html %} {% include post-comments.html %}
    </article>

    {% if page.aside == true %}{% include site-aside.html %}{% endif %}
</main>
