---
layout: base
tags:
  - nav
navtitle: Posts
title: Posts
description: Posts for this website
eleventyExcludeFromCollections: true
pagination: 
  data: collections.post
  size: 5
  reverse: true
  alias: posts
---

<main>
  <div>
    <h1 class="tracking-tight pt-8 lg:pt-10 2xl:pt-12 text-5xl">Posts</h1>
    <div class="post-line"></div>
    <div>
      <p>
        {% if pagination.firstPageHref != page.url %}
        <a aria-label="First page" href={{ pagination.firstPageHref}}>{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a aria-label="Previous page" href={{ pagination.previousPageHref }}>{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}</a>
        {% else %}
        <span>{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}</span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if pagination.lastPageHref != page.url %}
        <a aria-label="Next page" href={{ pagination.nextPageHref }}>{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a aria-label="Next page" href={{ pagination.lastPageHref }}>{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}</a>
        {% else %}
        <span>{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}</span>
        {% endif %}
      </p>
      <hr />
      {% for post in posts %}
        <div>          
          <h2><a href="{{ post.url }}">{{ post.data.title }}</a><br />
          <span class="text-lg lg:text-xl 2xl:text-2xl tracking-tight">{{ post.data.subtitle }}</span></h2>
          <p class="text-sm dateInfo mt-0">
          </p>
          <p>
            {{ post.data.description }}
          </p>
        </div>
      {% endfor %}
      <hr />
      <p class="text-center text-sm mt-2 mb-16">
        {% if pagination.firstPageHref != page.url %}
        <a aria-label="First page" href={{ pagination.firstPageHref}}>{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a aria-label="Previous page" href={{ pagination.previousPageHref }}>{{ '/src/assets/svg/svgPrevPageIcon.svg' | svgContents | safe }}</a>
        {% else %}
        <span>{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ '/src/assets/svg/svgFirstPageIcon.svg' | svgContents | safe }}</span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if pagination.lastPageHref != page.url %}
        <a aria-label="Next page" href={{ pagination.nextPageHref }}>{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a aria-label="Next page" href={{ pagination.lastPageHref }}>{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgNextPageIcon.svg' | svgContents | safe }}</a>
        {% else %}
        <span>{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}{{ '/src/assets/svg/svgLastPageIcon.svg' | svgContents | safe }}</span>
        {% endif %}
      </p>
		</div>
	</div>

</main>