/*------------------------------------------------------------*\
                          BREAKPOINTS
\*------------------------------------------------------------*/

/*
 * Add Breakpoints to the list
 * Include breakpoints as:
 * @include bp-min(desktop-small); // min width
 * @include bp-min-max(desktop-small $desktop-large); // min width and max-width
 */

$breakpoints: (
        mobile-minimum:     0px,
        mobile-portrait:    320px,
        mobile-landscape:   480px,
        phablet-portrait:   540px,
        phablet-landscape:  680px,
        tablet-portrait:    768px,
        tablet-landscape:   960px,
        desktop-small:      1024px,
        desktop-medium:     1280px,
        desktop-large:      1600px,
        desktop-hd:         1920px
);

/*
 * Enable px to em conversion for breakpoints
 */

$use-ems: true;

/*
 * Enable CSS-To-JS connection
 * If enabled, remember to include js/EchoToolkitEngine/breakpointParser.js in your project
 * If disabled, remember to remove it or exclude it from your project
 */

$use-css-to-js: false;

/*
 * Enable CSS-To-JS connection
 * Which version of breakpointParser should be used
 * 1 - simple parser - stores current breakpoint
 * 2 - expanded parser - stores current breakpoint but splits it into array with length of 2
 * 3 - value parser - stores current breakpoint in numerical format (converts it to px if em is used)
 */

$css-to-js-version: 2;