$Nero: #151515;
$Whisper: #fcfbfc;
$QuarterSpanishWhite: #ebdcd3;
$Chocolate: #c16014;

$ctaColor: $Chocolate;
$fontColorPrimary: $Nero;
$fontColorSecondary: $Chocolate;
$backgroundPrimary: $Whisper;
$backgroundSeconary: $QuarterSpanishWhite;
$elementColor: $QuarterSpanishWhite;