$Nero: #151515;
$Whisper: #fcfcfc;
$QuarterSpanishWhite: #ebdcd3;
$Chocolate: #c16014;
$lightGray: #cecece;

$ctaColor: $Chocolate;

$fontColorPrimary: $Nero;
$fontColorSecondary: $Whisper;

$backgroundPrimary: $Whisper;
$backgroundSecondary: $lightGray;

$backgroundTertiary: $QuarterSpanishWhite;
$elementColor: $QuarterSpanishWhite;

$sectionHoverColor: $lightGray;
$sectionActiveColor: $ctaColor;
$linkHoverColor: $Chocolate;