/*------------------------------------------------------------*\
                         BASIC CONFIG
\*------------------------------------------------------------*/

$reset-map:
        "html", "body",
        "div", "span",
        //"applet","object","iframe",
        "h1", "h2", "h3", "h4", "h5", "h6", "p",
        //"blockquote",
        "pre",
        "a",
        //"abbr",
        //"acronym",
        "address",
        //"big","cite","code","del","dfn",
        "em",
        "img",
        //"ins","kbd","q","s","samp",
        "small",
        //"strike",
        "strong",
        //"sub", "sup","tt","var",
        "b", "u", "i",
        //"center",
        "dl", "dt", "dd", "ol", "ul", "li",
        "fieldset", "form", "label", "legend",
        "table", "caption", "tbody", "tfoot", "thead", "tr", "th", "td",
        "article", "aside",
        //"canvas", "details", "embed","figure", "figcaption",
        "footer", "header",
        //"hgroup",
        "menu", "nav",
        //"output", "ruby",
        "section"
        //"summary", "time", "mark", "audio", "video"
;

/*------------------------------------------------------------*\
                HTML5 RESET FOR OLDER BROWSERS
\*------------------------------------------------------------*/

$support-older-browsers:    true;

/*------------------------------------------------------------*\
                  ELEMENT-SPECIFIC RESETS
\*------------------------------------------------------------*/

$reset-body-line-height:    true;
$use-blockqoute:            false;
$use-q:                     false;
$use-table:                 true;
$use-ol:                    true;
$use-ul:                    true;

