$base-font-size: 16px;
$base-line-height: 4px;
$rhythm-unit: "rem";
$debug-vertical-rhythm: false;
$rem-with-px-fallback: false;

$Montserrat: 'Montserrat', sans-serif;
$Teko: 'Teko', sans-serif;

$fontPrimary: $Montserrat;
$fontSecondary: $Teko;

$normal: 400;
$medium: 500;
$semiBold: 600;