$navy-blue: #0f1628;
$leather: #ab987a;
$coral: #ff533d;
$eggshell: #f3f3f3;


$background-default: $eggshell;
$background-variation: $navy-blue;
$cta: $coral;
$color-main: $navy-blue;
$color-variation: $eggshell;
$link-color: $leather;